{% extends 'base.html' %}

{% block header %}
    <div class="baner">
        <h1>{% block title %}Logowanie{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
<div class="logowanie">
    <form id="loginForm" action="/auth/login" method="post">
        <label for="username">Nazwa użytkownika</label>
        <input name="username" id="username" required>
        <label for="password">Hasło</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Zaloguj">
    </form>
</div>
{% endblock %}
