/* 
TODO zrobić tak, żeby wszystkie komórki w tabeli miały ten sam rozmiar. niezależnie od tego czy mają zawartość czy nie
TODO weź ogólnie zrób tak, żeby to ładnie wyglądało XDDD
TODO? ciemny motyw
*/
ul {
    list-style-type: none;
}

.cell {
    float: left;
    border: 1px solid pink;
    text-align: center;
    justify-content: center;
    width: 28px;
    height: 26px;
}

.small_grid {
    float: left;
    border: 1px solid blue;
}

.big_row {
    /* TODO naprawić to, że każdy big_row ma pod sobą przerwę -> albo dodać przerwę do small_grid albo usunąć z big_row */
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#marked {
    background-color: lightpink;
}

input[type=number] {
    border: 2px solid red;
    appearance: textfield;
    width: 20px;
    height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}